# Unity generated folders
Temp/
Library/
Logs/
Obj/
Build/
.vs/
*.user
*.csproj
*.sln
UserSettings/
Assets/_Recovery/
Assets/_Recovery.meta
Assets/Adaptive Performance/
Assets/Adaptive Performance.meta
